[Unit]
Description=mempool
After=bitcoind.service

[Service]
WorkingDirectory=/var/opt/mempool/backend
ExecStart=/usr/local/bin/node --max-old-space-size=2048 dist/index.js
User=mempool

Restart=on-failure
RestartSec=600

# Hardening measures
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
