[Unit]
Description=Gatus
After=network.target

[Service]
WorkingDirectory=/var/gatus/
ExecStart=/opt/gatus/bin/gatus
User=gatus
Group=gatus

Environment=GATUS_CONFIG_PATH=/etc/gatus/config/

Type=simple
KillMode=process
TimeoutSec=60
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
